@import '../../../../styles'

:host
    width: 100%
    display: flex
    justify-content: center

main
    width: calc( 40% - 15px )
    height: fit-content
    display: flex
    align-items: center
    justify-content: center
    padding-bottom: 25px
    margin-top: 25px
    margin-right: 15px
    border-radius: 10px
    background-color: $secondary-color

section.activitiesOrRequest
    width: 20%
    margin-top: 25px
    