@import '../../styles'

:host
    display: block
    width: 100%

@keyframes fade-in
    from
        opacity: 0
    to
        opacity: 1

*
    animation: .3s ease forwards
    -moz-user-select: none
    -ms-touch-select: none
    -webkit-user-select: none
    
div
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    section.highlight
        width: 70%
        height: 40px
        background-color: $secondary-color
        margin-top: 20px
        outline: 1px solid $tertiary-color
        border-radius: 10px
        display: flex
        flex-direction: row
        display: flex
        align-items: center

        span.email
            height: 100%
            width: 50%
            display: flex
            align-items: center
            justify-content: center
            font-family: sans-serif
            font-size: 17px
            color: $text-color
            border-right: 1px solid $tertiary-color

        section
            height: 100%
            width: 25%
            display: flex
            align-items: center
            justify-content: center
            background-color: $secondary-color

            select
                width: 90%
                height: 25px
                text-align: center
                font-family: sans-serif
                font-size: 17px
                cursor: pointer
                background-color: $primary-color
                color: $text-color
                border-radius: 3px
                border: none
                outline: 1px solid $tertiary-color

            input
                width: 90%
                height: 25px
                font-family: sans-serif
                font-size: 17px
                cursor: pointer
                background-color: $primary-color
                border: none
                color: $text-color
                border-radius: 3px
                outline: 1px solid $tertiary-color

    section.search
        outline: 1px solid $tertiary-color
        margin-top: 40px
        height: 40px
        width: 70%
        background-color: $secondary-color
        border-radius: 10px
        display: flex   
        flex-direction: row
        align-items: center
        justify-content: flex-start
        font-weight: 100

        input
            height: 100%
            width: calc( 50% - 45px )
            outline: none
            border: none
            background: none
            font-size: 17px
            font-family: sans-serif
            color: $text-color

        svg
            height: 30px
            width: 30px
            margin: 0 10px 0 5px
            cursor: pointer

        span
            width: 25%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            color: $text-color
            font-family: sans-serif
            font-weight: 100
            border-radius: 10px
            cursor: pointer
            transition: all .3s ease
            &:hover
                background-color: $tertiary-color

    table
        margin-top: 20px
        width: 70%
        //border-collapse: collapse
        outline: 1px solid $tertiary-color
        border-radius: 10px
        *
            font-family: sans-serif
            font-weight: 100
            color: $text-color

        thead
            tr
                background-color: $secondary-color
                th
                    display: block
                    text-align: left
                    border: 1px solid #ddd
                    color: $text-color
                    height: 300px
                    font-size: 17px
                    font-family: sans-serif
                    font-weight: 100

        tbody
            tr
                background-color: $secondary-color
                transition: all .3s ease 
                &:hover
                    background-color: $tertiary-color

                td
                    padding: 8px
                    font-size: 15px
                    height: 20px
