/* You can add global styles to this file, and also import other style files */


$primary-color: #212121
$secondary-color: #171717
$tertiary-color: #b4b4b444
$text-color: #B4B4B4


//$primary-color: white
//$secondary-color: #3d5a80
//$tertiary-color: #293241
//$text-color: #e0fbfc

//#e0fbfc #3d5a80 #293241 #e0fbfc


body
    padding: 0
    margin: 0
    background: $primary-color
    overflow: hidden