<main>
    <section class="default" *ngIf="posts.length === 0">
        <h1>{{empty}}</h1>
    </section>
    <section class="post" *ngFor="let post of posts">
        <section class="header">
            <label>{{post.postedBy[0].toUpperCase()}}</label>
            <span>{{post.postedBy}}</span>
        </section>
        <section class="body">
            <p>{{post.description}}</p>
        </section>
        <section class="footer">
            <input type="button" value="Thumbs-up">
            <input type="button" value="Thumbs-down">
        </section>
        <section class="comment">
            <label for="">{{firstLetterOfTheName}}</label>
            <input type="text" autocomplete="off" placeholder="Comment">
        </section>
    </section>
</main>