<div class="view">
    <custom-header></custom-header>
    <div class="body">
        <custom-aside></custom-aside>
        <main class="view">
            <main class="container">
                <section class="chart-container">
                    <section class="pie">
                        <pie-chart></pie-chart>
                    </section>
                    <section class="bar">
                        <bar-chart></bar-chart>
                    </section>
                    <section class="zigzag">
                        <zigzag-chart></zigzag-chart>
                    </section>
                    <section class="circular">
                        <circular-chart [totalUsers]="10833" [totalActives]="7347"></circular-chart>
                    </section>
                </section>
            </main>
        </main>
    </div>
</div>