$primary-color: #212121
$secondary-color: #171717
$tertiary-color: #b4b4b444
$text-color: #B4B4B4
$test: #2a304b

@mixin unselectable()
    -ms-user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    
:host
    width: 100%
    display: block
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: center
    padding-bottom: 25px

main.feed
    height: fit-content
    width: calc( 40% - 15px )
    background-color: $secondary-color
    display: flex
    flex-direction: column
    margin-right: 15px
    margin-top: 25px
    border-radius: 10px
    // outline: 1px solid $tertiary-color
    padding-bottom: 25px