$primary-color: #212121
$secondary-color: #171717
$tertiary-color: #b4b4b444
$text-color: #B4B4B4
$test: #2a304b

@mixin unselectable()
    -ms-user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    
:host
    width: 100%
    display: block
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: center
    padding-bottom: 25px

main.feed
    height: fit-content
    width: calc( 40% - 15px )
    background-color: $secondary-color
    display: flex
    flex-direction: column
    margin-right: 15px
    margin-top: 25px
    border-radius: 10px
    outline: 1px solid $tertiary-color
    padding-bottom: 25px

main
    width: 20%
    height: 834px
    background-color: $secondary-color
    border-radius: 10px
    position: sticky
    margin-top: 25px
    top: 25px
    outline: 1px solid $tertiary-color
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    h1
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        font-weight: 100
        font-size: 25px
        color: $text-color

    section.none
        width: calc( 100% - 50px )
        height: 100%
        margin-bottom: 25px
        border-radius: 10px
        outline: 1px solid $tertiary-color
        display: flex
        align-items: center
        justify-content: center
        color: $text-color
        flex-direction: column
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        font-size: 25px
        font-weight: 100