<main class="feed">
    <section class="post">
        <post-component [description]="description" (descriptionEmitter)="onUpdateDescription($event)" (postEmitter)="onPost()"></post-component>
    </section>
    <section class="feed">
        <feeds-component [posts]="arrayOfPost" [empty]="'NO POST'"></feeds-component>
    </section>
</main>
<section class="activitiesOrRequest">
    <activities-feeds *ngIf="role === 'student'" [role]="role"></activities-feeds>
    <request-post *ngIf="role !== 'student' "></request-post>
</section>